@import "data/variables"

.key
  grid-column-end: span 4
  grid-row-end: span 1
  grid-template-columns: repeat(2, $key-size / 2)
  grid-template-rows: repeat(1, $key-size)
  border-radius: $key-radius
  padding: $key-spacing-vertical $key-spacing-horizontal
  margin: $key-gutter / 2

  //Neormorphism
  font-family: $comfortaa
  font-size: $key-size / 3
  text-align: center
  color: $color-dark
  background: $color-light
  box-shadow: $shadow-spacing $shadow-spacing $shadow-blur rgba(166, 180, 200, 0.7), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(255, 255, 255, 0.8)

  //Unit sizing
  &.u1-25
    grid-column-end: span 5
    font-size: $key_size / 4

  &.u1-5
    grid-column-end: span 6

  &.u1-75
    grid-column-end: span 7
    font-size: $key_size / 4

  &.u2
    grid-column-end: span 8
    font-size: $key_size / 2

  &.u2-25
    grid-column-end: span 9
    font-size: $key_size / 4

  &.u2-5
    grid-column-end: span 10

  &.u2-75
    grid-column-end: span 11
    font-size: $key_size / 4

  &.u6-25
    grid-column-end: span 25

  &.esc
    font-size: $key_size / 4

  &.tab
    font-size: $key_size / 4

  &.double
    font-size: $key_size / 2

  &.left
    text-align: left

    span
      text-transform: none

  &.right
    text-align: right

    span
      text-transform: none

  &.mod
    font-size: $key_size / 4

    span
      text-transform: none

  &.lower
    span
      text-transform: none

  &.num0
    font-size: $key-size / 3

  &.arrow
    font-family: Arial, serif

  &.r2
    grid-row-end: span 2

  &.return
    grid-row-end: span 2
    font-size: $key_size / 3
    border-radius: 0 $key-radius $key-radius $key-radius
    position: relative
    box-shadow: none
    filter: drop-shadow($shadow-spacing $shadow-spacing $shadow-blur rgba(166, 180, 200, 0.7)) drop-shadow($shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(255, 255, 255, 0.8))

    &::before, &::after
      content: ""
      position: absolute

    &::before
      background: $color-light
      border-radius: $key-radius 0 0 $key-radius
      height: $key-size
      left: -$key-size/4
      top: 0
      width: $key-size/4

    &::after
      border-top-right-radius: $key-radius
      box-shadow: -$key-gutter $key-gutter 0 0 $color-light inset
      height: $key-gutter * 2
      left: -$key-gutter
      top: $key-size - $key-gutter
      width: $key-gutter * 2

  &.dead
    background: $color-dark
    color: $color-light

  &.active
    background: rgba(#68DEB3, .5)
    box-shadow: inset $shadow-spacing $shadow-spacing $shadow-blur rgba(#68DEB3, 0.7), inset $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(#68DEB3, 0.8)
    font-size: $key-size / 3 * $standard-multiplicator

    &.u1-25
      grid-column-end: span 5
      font-size: $key_size / 4 * $oversize-multiplicator

    &.u1-75
      grid-column-end: span 7
      font-size: $key_size / 4 * $oversize-multiplicator

    &.u2
      grid-column-end: span 8
      font-size: $key_size / 2 * $oversize-multiplicator

    &.u2-25
      grid-column-end: span 9
      font-size: $key_size / 4 * $oversize-multiplicator

    &.u2-75
      grid-column-end: span 11
      font-size: $key_size / 4 * $oversize-multiplicator

    &.esc
      font-size: $key_size / 4 * $standard-multiplicator

    &.tab
      font-size: $key_size / 4 * $oversize-multiplicator

    &.double
      font-size: $key_size / 2 * $standard-multiplicator

    &.mod
      font-size: $key_size / 4 * $standard-multiplicator

    &.num0
      font-size: $key-size / 3 * $standard-multiplicator

    &.return
      box-shadow: none
      font-size: $key-size / 3 * $standard-multiplicator
      background: rgba(#68DEB3, .5)
      filter: drop-shadow($shadow-spacing -$shadow-spacing $shadow-blur #68DEB3)
      &::before
        background: rgba(#68DEB3, .5)
      &::after
        box-shadow: -$key-gutter $key-gutter 0 0 rgba(#68DEB3, .5) inset


  &.pressed
    background: rgba(#68DEB3, .5)
    box-shadow: $shadow-spacing $shadow-spacing $shadow-blur rgba(#68DEB3, 0.7), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(#68DEB3, 0.8)

    &.return
      box-shadow: none
      filter: drop-shadow($shadow-spacing $shadow-spacing $shadow-blur rgba(#68DEB3, .7)) drop-shadow($shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(#68DEB3, .8))
      &::before
        background: rgba(#68DEB3, .5)
      &::after
        box-shadow: -$key-gutter $key-gutter 0 0 rgba(#68DEB3, .5) inset

  span
    padding: $key_size / 22
    text-transform: uppercase
    line-height: 1.5rem

    &.at
      font-size: $key_size / 3.7

.empty
  grid-column-end: span 4
  grid-row-end: span 1
  grid-template-columns: repeat(2, $key-size / 2)
  grid-template-rows: repeat(1, $key-size)
  padding: $key-spacing-vertical $key-spacing-horizontal
  margin: $key-gutter / 2

  &.u0-25
    grid-column-end: span 1

  &.u0-5
    grid-column-end: span 2

  &.u1-5
    grid-column-end: span 6

  &.u3-5
    grid-column-end: span 14

  &.u4
    grid-column-end: span 16

  &.u4-5
    grid-column-end: span 18

  &.u19-5
    grid-column-end: span 74

  &.u23
    grid-column-end: span 92