@import "data/variables"

.sixtyP
  display: grid
  padding: 1%
  border-radius: 1rem
  grid-template-columns: repeat(60, ($key-size + $key-gutter) / 4)
  grid-template-rows: repeat(5, ($key-size + $key-gutter))

.sixtyFiveP
  display: grid
  padding: 1%
  border-radius: 1rem
  grid-template-columns: repeat(64, ($key-size + $key-gutter) / 4)
  grid-template-rows: repeat(5, ($key-size + $key-gutter))

.eightyP
  display: grid
  padding: 1%
  border-radius: 1rem
  grid-template-columns: repeat(74, ($key-size + $key-gutter) / 4)
  grid-template-rows: repeat(6, ($key-size + $key-gutter))

.fullSize
  display: grid
  padding: 1%
  border-radius: 1rem
  grid-template-columns: repeat(92, ($key-size + $key-gutter) / 4)
  grid-template-rows: repeat(6, ($key-size + $key-gutter))