@import "data/variables"

.selection
  grid-area: selection
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center
  width: 60vw

.selectionBox
  padding-top: 0.5rem
  margin-left: $key-size / 10
  margin-right: $key-size / 10
  height: $key-size * 1.5
  width: $key-size * 3
  border-radius: $key-radius
  cursor: pointer
  border: none

  &:focus
    outline: none

  &:disabled
    background: $color-dark
    color: $color-light
    cursor: default

    &.dark
      background: darken($color-dark, 5.0)
      color: lighten($color-dark, 15%)
      box-shadow: $shadow-spacing $shadow-spacing $shadow-blur rgba(black, 0.6), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(black, 0.2)

    .sixtyFivePercentIcon
      filter: grayscale(100%)

  //Neumorphism styling
  font-family: $comfortaa
  font-size: $key-size / 4
  text-align: center
  color: $color-dark
  background: $color-light
  box-shadow: $shadow-spacing $shadow-spacing $shadow-blur rgba(166, 180, 200, 0.7), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(255, 255, 255, 0.8)
  user-select: none

  &.dark
    color: lighten($color-dark, 25%)
    background: $color-dark
    box-shadow: $shadow-spacing $shadow-spacing $shadow-blur rgba(black, 0.5), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(black, 0.1)


.active
  background: darken($color-light, 1.0)
  box-shadow: inset $shadow-spacing $shadow-spacing $shadow-blur rgba(166, 180, 200, 0.7), inset $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(255, 255, 255, 0.8)
  font-size: $key-size / 4 * $oversize-multiplicator

  &.dark
    background: darken($color-dark, 1.0)
    box-shadow: inset $shadow-spacing $shadow-spacing $shadow-blur rgba(black, 0.5), $shadow-spacing*-1 -$shadow-spacing*-1 $shadow-blur rgba(black, 0.05)

  .fullSizeIcon
    width: $key-size * 2 * $oversize-multiplicator
    margin: $key-size / 5 * $oversize-multiplicator

  .eightyPercentIcon
    width: $key-size * 1.7 * $oversize-multiplicator
    margin: $key-size / 5 * $oversize-multiplicator

  .sixtyFivePercentIcon
    width: $key-size * 1.6 * $oversize-multiplicator
    margin: $key-size / 5 * $oversize-multiplicator

  .sixtyPercentIcon
    width: $key-size * 1.6 * $oversize-multiplicator
    margin: $key-size / 5 * $oversize-multiplicator

.fullSizeIcon
  width: $key-size * 2
  margin: $key-size / 5

.eightyPercentIcon
  width: $key-size * 1.7
  margin: $key-size / 5

.sixtyFivePercentIcon
  width: $key-size * 1.6
  margin: $key-size / 5

.sixtyPercentIcon
  width: $key-size * 1.6
  margin: $key-size / 5