$key-size: 6vmin
$key-radius: $key-size * 3/20
$key-gutter: $key-size / 10
$key-spacing-horizontal: $key-size * 9/80
$key-spacing-vertical: $key-size / 16
$standard-multiplicator: 0.93
$oversize-multiplicator: 0.95

$shadow-spacing: $key-size / 40
$shadow-blur: $key-size / 20

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap')
$comfortaa: 'Comfortaa', cursive

$color-dark: #3D3D3D
$color-light: #f0f0f3
$color-pressed: #68DEB3